@import './responsividade';
@import './_fonts';

@include response(m) {
	.footer {
		display: flex;
		justify-content: center;
		background-color: #41197F;
		bottom: 0;
		color: white;
		position: fixed;
		width: 100%;
		justify-content: space-between;
		// gap: 50px;
		button {
			border: none;
			background: transparent;
			margin-top: 5px;
			margin-bottom: 5px;
			padding-left: 30px;
			padding-right: 30px;
			img {
				width: 35px;
				height: 35px;
				&.meals {
					width: 45px;
					height: 45px;
				}
			}
		}
	}
}
