@import './responsividade';
@import './_fonts';

@include response(m) {
	.main {
		@include fontEpilogue();
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		img {
			width: 100%;
		}
		.h1Title {
			font-style: italic;
			font-weight: 500;
			font-size: 20px;
			line-height: 20px;
			letter-spacing: 0.165em;
			text-transform: uppercase;
			color: #41197F;
			margin-bottom: 19px;
		}
		.inputEmail {
			width: 276px;
			height: 40px;
			padding-left: 20px;
			&::placeholder {
				font-style: normal;
				font-weight: 300;
				// padding-left: 20px;
				font-size: 14px;
				line-height: 14px;
				color: #41197F;
			}
			margin-bottom: 10px;
		}
		.button {
			border: none;
			width: 276px;
			height: 40px;
			background-color: #FCC436;
			font-style: normal;
			font-weight: 700;
			font-size: 14px;
			line-height: 14px;
			text-align: center;
			letter-spacing: 0.03em;
			text-transform: uppercase;
			color: #FFFFFF;
		}
	}
}
