@import './_fonts';
@import './responsividade';

@include response(m) {
	.divSearchBar {
		background-color: rgba(65, 25, 127, 1);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 338px;	
		margin-top: -5px;
		border: 50px;
		z-index: 0;
		border-radius: 5px;
		.divRadioButtons {
			color: white;
			font-size: 10px;
			// background-color: yellow;
			label {
				margin-right: 20px;
				margin-top: 19px;
				margin-bottom: 11px;
				input {
					width: 10px;
					height: 10px;
					vertical-align: middle;
					margin-right: 5px;
					border-radius: 5px;
				}
			}
		}
		button {
			display: flex;
			justify-content: center;
			align-items: center;
			@include fontEpilogue;
			border: none;
			width: 208.16px;
			height: 25px;
			background: #FCC436;
			border-radius: 5px;
			color: white;
			margin-bottom: 8px;
			font-style: normal;
			font-weight: 700;
			font-size: 12px;
			line-height: 12px;
			letter-spacing: 0.03em;
			text-transform: uppercase;
		}

	}
}