@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;1,500&display=swap') ;

@media ( min-width : 0 ) {

  .footer {
    background-color: #333;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }
}
