@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;1,500&display=swap') ;

@media ( min-width : 0 ) {

  .footer {
    background-color: #41197f;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
  }

  .footer button {
    background: transparent;
    border: none;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .footer button img {
    height: 35px;
    width: 35px;
  }

  .meals {
    height: 45px;
    width: 45px;
  }
}
