@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;1,500&display=swap') ;

@media ( min-width : 0 ) {

  .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: Epilogue , sans-serif;
    height: 100%;
    width: 100%;
  }

  .main div {
    display: flex;
    width: 100%;
  }

  .main div img {

    /* height: 400px; */
    width: 100%;
  }

  .main .h1Title {
    color: #41197f;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.165em;
    line-height: 20px;
    margin-bottom: 19px;
    text-transform: uppercase;
  }

  .divInputs {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .main .inputEmail {
    height: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
    width: 276px;
  }

  .main .inputEmail::placeholder {
    color: #41197f;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
  }

  .main .button {
    background-color: #fcc436;
    border: none;
    color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    height: 40px;
    letter-spacing: 0.03em;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    width: 276px;
  }
}
