@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;1,500&display=swap");
img {
  width: 100px;
}

.sectionCategores {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}
.sectionCategores button {
  font-family: "Epilogue", sans-serif;
  border: none;
  gap: 2px;
  background: transparent;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.sectionCategores button img {
  width: 45px;
}
.sectionCategores button p {
  justify-content: center;
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 9px;
  color: #797D86;
}

.sectionRecipeCard {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 97%;
  justify-content: space-around;
}
