@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,400;0,700;1,500&display=swap') ;

@media ( min-width : 0 ) {

  .divCard {
    background-color: white;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    font-family: Epilogue , sans-serif;
    margin-bottom: 10px;
    text-decoration: none;
  }

  .divCard img {
    border-radius: 5px;
    height: 135px;
    width: 163px;
  }

  .divCard p {
    color: #1a1b1c;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    margin-bottom: 5px;
    overflow: hidden;
    padding-left: 10px;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
}
